/* Geral */
/* * o asterisco serve para selecionar todos elementos HTML*/
:root {
  --main-color: #430d29; /* Criando variável dentro do css */
  --primary-text-color: #FFF;
  --secondary-text-color: #191919;
  --secondary-color: #868686;
  --tertiary-color: #eff3f4;
  --secondary-bg-color: #430d29;
}
* {
  font-family: Lato;
  padding: 0;
  margin: 0;
  box-sizing: border-box;/*Para elementos se limitarem dentro do elemento pai*/
}

a {
  text-decoration: none;
}

img {
  width: 100%; /*Terá o tamanho do elemento pai*/
}

input[type="submit"] {
  cursor: pointer;
}

i {
  background-color: var(--main-color); /*Utilizando a variavel*/
  color: var(--primary-text-color);
  font-size: 2.5rem; /*rem é uma unidade de medida baseado no elemento root do HTML, por padrão o HTML é 16px então 2,5x16 */
  padding: 1rem;
}

/* Cabeçalho e Banner */
#header {
  min-height: 95vh; /* vh é uma outra unidade de medida ele é referente a altura da tela, ou seja, o banner vai ter 90% da largura da tela */
  background-image: url("../img/stf.png");
  background-size: cover; /* cover faz com que o tamanho da imagem seja otimizado para a area que se tem a disposição dela */
  background-position: center;
  color: var(--primary-text-color);
  margin-bottom: 2rem;
  position: relative;/* Ele é relativo pois irá conter elementos dentro dele com a posição absoluta, então ele é a area que vai controlar a posição do elemento absoluto */

}



#inner-header {
  display: flex;/* Faz com que ative o recurso de flex-box podendo posicionar os elementos de uma forma mais simples */
  justify-content: space-between;
  align-items: center;
}

#brand {
  background-color: var(--main-color);
  padding: 1rem;
}

#navbar {
  display: flex;
  gap: 4rem; /* Faz com que os elementos do menu se espaçe igualmente em 2rem */
  text-transform: uppercase;
  margin-right: 2rem;
}

#navbar a {
  color: var(--primary-text-color);
  font-weight: bold;
}

.banner.active{
  opacity: 1;
}

.banner {
  max-width: 50%; /* Faz com que o texto não passe da metade da tela */
  padding: 4rem;
  opacity: 0; /* Faz com que o banner desapareça */
  position: absolute; /* Faz com que ele siga seu proprio fluxo */
  transition: 0.6s;
}

.banner h2 {
  font-size: 4rem;
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 2;
}

.banner p {
  font-size: 1.5rem;
}

.square {
  display: block; /*Por padrão o spam é um elemento inline então isso faz com que ele se torne um elemento de bloco*/
  width: 150px;
  height: 150px;
  background-color: var(--main-color);
  position: absolute;
  z-index: 1; /* quem tem o maior z-index fica na frente do outro */
  left: 20px;
  top: 40px;
}

.dots {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
}

.dot.active{
  background-color: var(--main-color);
}

/* Áreas de atuação */
.text-image-section {
  display: flex;
  flex-wrap: wrap; /* Se a largura exceder o limite da tela uma passa para debaixo da outra */
  gap: 2rem;
}

.text-container {
  flex: 2 1 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.section-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
}

.section-title {
  color: var(--secondary-text-color);
  font-size: 2rem;
}

.btn {
  padding: 1.2rem 1.8rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--primary-text-color);
  align-self: end;
}

.image-container {
  flex: 1 1 50px;
  position: relative;
  overflow: hidden; /* Oculta as partes da imagem fora do contêiner */
  width: 50px; /* Adapte este valor conforme necessário */
  height: 500px; /* Adapte este valor conforme necessário */
}

.image-container img {
  width: 90%; /* Garante que a imagem preencha o contêiner */
  height: 160%; /* Garante que a imagem preencha o contêiner */
  object-fit: cover; /* Ajusta a posição e dimensiona a imagem para cobrir completamente o contêiner */
  position: absolute; /* Permite posicionar a imagem dentro do contêiner */
  top: 0; /* Alinha a parte superior da imagem com a parte superior do contêiner */
  left: 0; /* Move a imagem para a direita (ajuste conforme necessário) */
}


/* Sobre nós */
#about{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

#about-text {
  background-image: url("../img/pattern.png"); 
  background-size: cover;
  background-position: center;
  color: var(--primary-text-color);
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
  padding: 4rem 3rem;
}


#about-text .section-subtitle,
#about-text .section-title {
  color: var(--primary-text-color);
}

#about-text i {
  background-color: transparent;
}

.about-description {
  display: flex;
  align-items: center;
}

.about-description h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#about-data {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

#about-data .data {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: -1px;
  margin-left: -1px;
}

#about-data .data:first-child {
  border-bottom: 1px solid var(--secondary-text-color);
  border-right: 1px solid var(--secondary-text-color);
}

#about-data .data:last-child {
  border-top: 1px solid var(--secondary-text-color);
  border-left: 1px solid var(--secondary-text-color);
}

#about-data .data i {
  background-color: transparent;
  color: var(--main-color);
  font-size: 4rem;
  padding: 0;
}

.data .number {
  font-size: 4rem;
  font-weight: 900;
}

.data .text {
  text-transform: uppercase;
}


.employee-name {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

/* Rodapé */
#footer {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-around;
  padding: 3rem 3rem 5rem;
}

#footer i {
  font-size: 1rem;
  padding: 0.3rem;
}

#footer a {
  color: var(--primary-text-color);
}

.contact-info,
.links-container {
  width: 40%;
}

.footer-brand {
  margin-bottom: 2rem;
}

.footer-brand h2 {
  background-color: var(--main-color);
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.contact-info p {
  margin-bottom: 1rem;
}

.contact-info p i {
  background-color: transparent;
  padding: 0;
  color: var(--main-color);
}

.social-networks p {
  margin-bottom: 1rem;
}

.networks {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

#footer .networks i {
  padding: 1rem;
}

.links-container h4 {
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.links-container nav {
  display: flex;
  flex-direction: column;
}

.links-container nav a {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}

.phone-number {
  display: flex;
  border: 1px solid var(--main-color);
}

.phone-number {
  display: flex;
  border: 1px solid var(--main-color);
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.phone-info {
  color: var(--secondary-color);
}

/* Mobile navbar */
#menu, #close-menu  {
  font-size: 2rem;
  padding: 1rem;
  display: none;
}

#close-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#mobile-navbar {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  transition: 0.4s;
  z-index: 5;
}

#mobile-navbar.menu-active {
  left: 0;
}

#mobile-navbar a {
  color: var(--primary-text-color);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--main-color);
}

/* Responsivo */
/* Significa que as regras que estão aqui irão funcionar para dispositivos com a tela abaixo de 450px */

@media (max-width: 450px){
 /* Geral */
 body {
  overflow-x: hidden; /*Tudo que passar da tela não será contabilizado*/
 }

 i {
  padding: 1.5rem;
  font-size: 2rem;
 }

 /* Navbar */
 #navbar {
  display: none;
 }

 #menu,
 #close-menu {
  display: block;
 }

 .banner {
  max-width: 100%;
  padding: 4rem 2rem;
 }

 .banner h2 {
  font-size: 3rem;
 }

 .banner p {
  font-size: 1rem;
 }

 /* Áreas de atuação */
 .btn {
  align-self: initial;
 }

 .image-container {
  flex: 1 1 100%;
 }

 #other-services {
  flex-wrap: wrap;
 }

 /* Sobre nós */
 #about {
  gap: 0;
 }

 #about-text,
 #about-data {
  flex: 1 1 100%;
 }

 .about-description {
  gap: 1rem;
 }

 .about-description i {
  padding: 0;
  min-width: 40px;
 }

 #about #about-data .data {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--main-color);
 }

 /* Contato */
 #contact {
  padding-bottom: 0;
 }

 #contact-information {
  padding: 7rem 1rem;
 }

 #contact-information .form-control {
  flex-direction: column;
 }

 #contact-information .btn {
  align-self: auto;
 }

 /* Rodapé */
 #footer {
  flex-wrap: wrap;
 }

 #footer i {
  font-size: 2rem;
  padding: 1rem;
 }

 .footer-brand {
  text-align: center;
 }

.networks {
  margin-bottom: 3rem;
}

.links-container {
  margin-bottom: 1rem;
}

.links-container h4 {
  margin-bottom: 1.5rem;
}

 .contact-info,
 .links-container {
  width: 100%;
 }

}
#section-faq{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.title{
  font-size: 3rem;
  margin: 2rem 0rem;
}
.faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--main-color);
  cursor: pointer;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3{
  font-size: 1.8rem;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.answer p{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
.faq .active .answer{
max-height:300px;
animation: fade 1s ease-in-out;
}
.faq.active svg{
  transform: rotate(190deg);
}
svg{
  transition: transform .5s ease-in;
}

@keyframes fade {
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}


/* SLIDE */

#section-slide{
  width:100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container {
  width: 91%;

}

.slider-wrapper {
  position: relative;
  
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: var(--main-color);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: var(--main-color);
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  font-size: 0;
  list-style: none;
  margin-bottom: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: var(--main-color);
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
  
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: var(--main-color);
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
/* Perfumarias */
.image-item-container {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.image-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--main-color);
  padding: 1rem;
  width: 55%;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
  cursor: pointer; 
}
.card {
  margin: 10px auto 0;
  width: 400px;
  height: 495px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  margin: -5px auto 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 1px 12px 1px rgba(255, 255, 255, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}


.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}


.card__header h2 {
  color: var(--main-color);
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 40px auto 0;

}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.4;
}

/* Estilo para o link do WhatsApp */
/* Estilo específico para o link do WhatsApp */
.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  transition: transform 0.2s, box-shadow 0.2s, width 0.2s, height 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-link:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 70px;
}

.fa-whatsapp {
  margin-top: 0;
}


